.box {
    width: 90%;
    height: 200px;
    margin: 0 auto;
    margin-top: 800px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
    border-radius: 16px;
}