body {
    background-color: #222;
    color:#ccc;
    height: 3000px;

    font: 1.6em / 1.6 D2Coding, consolas, monospace;
}

h1.header-1 {
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 8px;

    font-size: 1.25em;
    font-weight: bold;
    color: black;
    background-color: white;
}

.list {
    margin: 1em;
    border: 5px solid;
    border-radius: 8px;
}

pre, 
.list > li,
.gray-card {
    background-color: #444;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 4px -4px rgba(0, 0, 0, 0.4);
}